<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand h1 col-1" style="padding:0px;margin:0px;font-size:28px;font-family:Arial;font-weight:bolder;width:70px"
      href="#">BPW</a>
    <div class=" col-1"></div>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/">Home </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Ekrany 1</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/myForm">Moja Forma</a>
            <a class="dropdown-item" routerLink="/squarePage">Kwadratowa Strona</a>
            <a class="dropdown-item" routerLink="/flow">Przeplyw</a>
            <a class="dropdown-item" routerLink="/draw">Rysowanie</a>
            <a class="dropdown-item" routerLink="/wymiana">Wymiana Danych</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Ekrany 2</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/local">Local Data</a>
            <a class="dropdown-item" routerLink="/gender">Info Gender</a>
            <a class="dropdown-item" routerLink="/lista">Lista</a>
            <a class="dropdown-item" routerLink="/reactForm">Forma Reaktywna</a>
            <a class="dropdown-item" routerLink="/rura">rura</a>
            <a class="dropdown-item" routerLink="/hard2">Hard2</a>
            <a class="dropdown-item" routerLink="/siemens">Siemens</a>


          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/about">About</a>
        </li>
      </ul>
    </div>

  </nav>

</div>