.round-button-red {
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #F03B3B;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button-red:hover {
    background: #EA2525;
}
.round-button-red:active{
    border: 3px solid #eaeaea;
    background: #DE2525;

}

.round-button-green {
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
   
    background: #11B92D;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button-green:hover {
    background: #EA2525;
}
.round-button-green:active{
    border: 3px solid #eaeaea;
    background: #DE2525;

}